<!--A partial containing the list of discussions.
    Not completed yet. Need a connection for each discussion-->
<div class="discussionList">
    <h4>>Latest Discussions</h4>
    <div class="discussionListBox">
        <!--add more logic here-->
        <div class="indivDiscussion">
            {{discussionBox}}
        </div>
    </div>
</div