<div class="div-discussionBox">
    <div class="div-userImg">
        <a href="/profile/">
            <img class="img-userPic" src="">
        </a>
    </div>
    <div class="div-titlebox">
        <div class="div-discussionName">Settings deleted</div>
        <div class="div-subjectTopic">
            <span class="span-topic">Topic</span>
        </div>
    </div>
    <p class="p-descriptionText">Stuff and things Stuff and things Stuff and things Stuff and 
        things Stuff and things Stuff and things Stuff and things Stuff
            and things Stuff and things Stuff and things Stuff and things
            Stuff and things Stuff and things Stuff and things Stuff and 
            things Stuff and things</p>
    <div class="div-date">
        October 2020
    </div>
    <div class="div-replyNum">4 Replies</div>
</div>