<!-- Not completed yet-->
<div class="discussionList">
    <h4>>Latest Discussions</h4>
    <div class="discussionListBox">
        <div class="indivDiscussion">
            <div class="userIcon">
                    <!--Insert user info code here-->
            </div>
            <div class="questiontext">
                <span name="questionName" id = "questionName">{{this.topic}}</span>
                <div class="questionTopicName">
                    <input type="hidden" class= "topicName" id="topicName" name="questionId" value="{{this.dataValues.id}}">
                    <h4 name="questionsubject" id="questionSubject">{{this.dataValues.subject}}</h4>
                </div>
            </div>
        </div>
    </div>
</div>