<div class="discussionBox">
    <div class="userImg">
        <a href="/profile/<!--userid-->">
            <img class="userPic" src=<!--userimg-->></img>
        </a>
    </div>
    <div class="questionBox">
        <div class="titlebox">
            <div class="discussionName"><!--discussion name--></div>
            <div class="subjectTopic">
                <span><!--subject topic--></span>
            </div>
        </div>
        <p><!--description-->></p>
        <div class="date">
            <!--date-->
        </div>
        <div class="replyNum"><!--replies--> Replies</div>
    </div>
</div>