<!--The landing page for the site. Allows the user to login or signup.-->
<div id="landingPage">
    <div class="leftside">
        <a href="/"><img id="titleImg" src="./img/title.png" /></a>
        </br>
        <img id="booksImg" src="./img/vector-knowledge.jpg" />
    </div>
    <div class="rightside">
        <div class="loginDiv">
            <form  method="POST" action="/signin">
                <input id="loginEmail" type="email" name="email" placeholder="email" required/>
                <input id="loginPassword" type="password" name="password" placeholder="password" required/>
                <button id="loginButton" onclick="" type="submit">login</button>
              </form>
        </div>
        <div class="descriptionText">
            <h1>Join the worlds largest community for knowledge sharing</h1>
        </div>
        <div class="signupDiv">
            <form method="POST" action="signup" class="/signup">
                <input id="signupFirstName" type="text" name="firstName" placeholder="firstname" required/>
                <input id="signupLastName" maxlength="20" type="text" name="lastName" placeholder="lastname" required/>
                <input  id="email" maxlength="50" type="email" name="email" placeholder="email" required/>
                <input  id="password" type="password" name="password" placeholder="password" required/>
                <input id="passwordcheck" type="password" name="passwordCheck" placeholder="confirm password" required/>
                <button id="signupButton" onclick="" type="submit">signup</button>
            </form>
        </div>
    </div>
</div>