<!--The search header bar including the KB logo, search bar, and logout button.-->
<div class="search">
    <div class="kb">
        <a href="/"><img src="./img/kb.png"></a>
    </div>
    <div class="searchBar">
        <form class="searchEntry" id="searchForm" action="/search" method="POST">
            <input name="searchInputEntry" placeholder="Search" id="searchInputEntry">
            <button type="submit" onlclick= <!--do search here-->Search</button>
        </form>
    </div>
    <div class="logoutBtn">
        <form action="/signout" method="POST">
            <button>logout</button>
        </form>
    </div>
</div>