<!--The main homepage for the user.
Includes the user's dashboard, ask question box, and latest discussion list.-->
<div class="mainPage">
    {{> nav_bar}}
    {{> userDashboard this}}
    {{> askNewQuestion this}}
    {{> discussionList this}}
</div>