<!--The main homepage for the user.
Includes the user's dashboard, ask question box, and latest discussion list.-->
<body>
    <div class="mainPage">
        {{> search}}
        {{> userDashboard}}
        {{> questionAsk}}
        {{> discussionList}}
    </div>
</body>








