<div class="signupDetails">
    <div class="leftside">
         <a href="/"><img id="titleImg" src="./img/title.png" /></a>
         <h1>Let us know a little more about you</h1>
    </div>
    <div class="rightside">
        <!-- fix action-->
        <form id="signupDetailsForm" method="POST" action="signup-details">
            <input type="text" placeholder="imageurl" name="url" id="url">
            <textarea type="text" rows="5" name="details" id="details" placeholder="a few lines about yourself..."></textarea>
            <input type="text" placeholder="country" name="country" id="country"></input>
            <!-- finish date od birth input-->
            <input type="date" name="date" id="date"  placeholder="date of birth (mm/dd/yyyy)"></input>
            <button id="completeReg" type="submit">complete registration</button>
        </form>
    </div>
</div>