.img-userImage{
    border-top-left-radius: 50% 50%;
    border-top-right-radius: 50% 50%;
    border-bottom-right-radius: 50% 50%;
    border-bottom-left-radius: 50% 50%;
    max-width: 70%;
    max-height: 70%;
}

.div-questionBox{
    display: inline-block;
}
.div-discussionBox{
    color: gray;
    display: inline-block;
}

.div-titlebox{
    display: inline-block;
    position: relative;
    width: 20%;
    top: -60px;
}

.div-userImg{
    display: inline-block;
}

.div-discussionName{
    font-size: large;
    font-weight: 600;
    display: inline-block;
    margin-right: 15%;
}

.p-descriptionText{
    max-width: 35%;
}

.div-subjectTopic{
    display: inline-block;
}

.div-date{
    display: inline-block;
    margin-right: 20%;
}

.div-replyNum{
    display: inline-block;
}

.span-topic{
    background-color: white;
    color: #38a3eb;
    padding: 2px 5px;
    margin: 1px 0;
    border-color: #38a3eb;
    cursor: pointer;
    width: 30%;
    opacity: 0.9;
    border-style: solid;
}