.div-userInfo{
    display:inline-block;
    position: relative;
}

.img-userPic{
    border-top-left-radius: 50% 50%;
    border-top-right-radius: 50% 50%;
    border-bottom-right-radius: 50% 50%;
    border-bottom-left-radius: 50% 50%;
    max-width: 70%;
    max-height: 70%;

}

.p-username{
    font-weight: bolder;
    font-size: large;
}

.span-desc{
    color: gray;
}

.div-userStats{
    color: gray;
}

.li-edit{
    margin-top: 2%;
}

.div-userDesc{
    display: inline-block;
    position: relative;
    top:40px;
}