.div-userDesc{
    display: inline-block;
    position: relative;
    top:30px;
    margin-left: 5%;
}

.div-userInfo{
    display:inline-block;
    position: relative;
}

.img-userPic{
    border-top-left-radius: 50% 50%;
    border-top-right-radius: 50% 50%;
    border-bottom-right-radius: 50% 50%;
    border-bottom-left-radius: 50% 50%;
    max-width: 70%;
    max-height: 70%;
    margin-left: 14%;

}

.p-username{
    font-weight: bolder;
    font-size: large;
    text-align: center;
}

.p-desc{
    color: gray;
    text-align: center;
}

.div-userStats{
    color: gray;
}

.li-edit{
    margin-top: 10%;
}

